{% extends "category.html" %}
{% load main_extras %}
{% block catagory %}
    <div class="list-group">
        <div class="row">
            <button type="button" onClick="window.location.href='/'"
                    class="btn btn-secondary btn-lg btn-block w-100 rounded-0">Main Page
            </button>
        </div>
    </div>
    <div class="row overflow-auto" style="height: 93%!important; border:1px solid #cecece;">
        <div class="list-group pe-0">
            {% for post in posts|dictsortreversed:"create_date" %}
                                <a href="#" onclick="flash_post('{{ post.category.id }}', '{{ post.id }}')"
                   class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="">
                    <div class="w-100 justify-content-between">
                        <div>
                            <small class="opacity-50 text-muted">#{{ post.user.user.username }} {{ post.create_date|timesince2 }}</small>
                            <small class="bi {% if post.postcomment_set.all.first|pos_like %}bi-hand-thumbs-up-fill{% else %}bi-hand-thumbs-down-fill{% endif %} opacity-50 text-dark"
                                   style="display: inline-block">{{ post.postcomment_set.all.first|sub_like }}</small>
                            <h6 class="mb-0">{{ post.title }}</h6>
                            <p class="mb-0 opacity-75">{% for tag in post.tag_set.all %}
                                #{{ tag.name }} {% endfor %}</p>
                        </div>
                    </div>
                    <div class="justify-content-between">
                        <form action="/category/{{ post.category.id }}" method="get">
                            <button class="badge btn btn-secondary"
                                    onclick="window.location.href='/category/{{ post.category.id }}'">{{ post.category.name }}</button>
                        </form>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block count %}{{ posts.count }}{% endblock %}