{% extends "base.html" %}
{% block body %}
    <div class="pt-4 container" id="main_container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card post-edit">
                    <div class="card-header">
                        <h3 class="m-0 h5 card-title">Post a new topic</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <h4>Category: {{ category.name }}</h4>
                        </div>
                        <form method="post" action="/category/{{ category.id }}/new/" class="form needs-validation"
                              novalidate>
                            {% csrf_token %}
                            <div id="div_id_subject" class="form-group">
                                <div class="controls">
                                    <label class="control-label" for="id_subject">Topic</label>
                                    <input type="text" name="subject" maxlength="255" placeholder="Enter your Topic"
                                           class="form-control" required="" id="id_subject">
                                    <div class="invalid-feedback">
                                        <strong>Please enter your Subject.</strong>.<br>
                                    </div>
                                </div>
                            </div>
                            <div id="div_id_content" class="form-group">
                                <label class="control-label" for="id_content">Message</label>
                                <textarea class="form-control mb-2" name="content" cols="40" rows="10"
                                          placeholder="Enter your message" required id="id_content"></textarea>
                                <div class="invalid-feedback">
                                    <strong>Please enter your Post content.</strong><br><br>
                                </div>
                            </div>
                            <div id="div_id_content" class="form-group">
                                <strong>Tags:</strong>
                                <div id="tags" class="list-group-item" style="min-height: 55px">
                                </div>
                                <input type="text" id="json_tag" name="json_tag" value="" hidden>
                            </div>
                            <div id="div_id_content" class="form-group">
                                <label class="control-label my-1" for="addtag">Add Tags <strong>(Limit: at most 3 tags, only accept english character, numbers or _ )</strong></label>
                                <div class="row pb-2">
                                    <div class="col-auto">
                                        <input class="form-control" type="text" id="addtag"
                                               placeholder="Tag add here" value="">
                                    </div>
                                    <button type="button" onclick="add_tag()" class="col-auto btn btn-large btn-danger">
                                        Add
                                    </button>
                                </div>
                                <div id="WARNING" class="text-danger" hidden>
                                    Your input is invalid
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="submit" class="btn btn-large btn-danger" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        function del_tag(tag) {
            $("#" + tag).remove();
            const json_tag = $("#json_tag");
            let array = JSON.parse(json_tag.val());
            array = array.filter(i => i !== tag);
            json_tag.val(JSON.stringify(array));
        }

        function add_tag() {
            const tag = $('#addtag').val();
            let pattern = /^([a-z]|[A-Z]|[0-9]|_|(?! ))*$/
            if(!pattern.test(tag)){
                $("#WARNING").removeAttr("hidden");
                return;
            }else{
                $("#WARNING").attr("hidden", true);
            }
            if ($("#" + tag).length === 0) {
                const json_tag = $("#json_tag");
                let array = [];
                if (json_tag.val() !== "") {
                    array = JSON.parse(json_tag.val());
                }
                if (array.length >= 3) {
                    return;
                }
                $("#tags").append(
                    "<span class='badge bg-dark' id=" + tag + ">" + tag + "&nbsp; <button type='button' onclick='del_tag(\"" + tag + "\")\' class='btn-close btn-close-white'></button></span>"
                )
                $("#addtag").val("");
                array[array.length] = tag;
                json_tag.val(JSON.stringify(array));
            }
        }
    </script>
{% endblock %}